# MacOS
.DS_Store

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm

# mpeltonen/sbt-idea plugin
.idea_modules/

# User-specific stuff
.idea/
**/.idea/
.idea
